@charset "UTF-8";
.fade-animation {
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

.fade-animation.show {
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.burger-btn-wp.cross .bar {
  -webkit-transition: .3s;
  transition: .3s;
}

.burger-btn-wp.cross .bar-top {
  -webkit-transform: translate(10%, 5px) rotate(45deg);
          transform: translate(10%, 5px) rotate(45deg);
}

.burger-btn-wp.cross .bar-mid {
  opacity: 0;
}

.burger-btn-wp.cross .bar-bottom {
  -webkit-transform: translate(10%, -5px) rotate(-45deg);
          transform: translate(10%, -5px) rotate(-45deg);
}

.header-nav.open {
  opacity: 1;
  width: 40%;
  -webkit-transition: .3s;
  transition: .3s;
}

@media screen and (max-width: 1024px) {
  .header-nav.open {
    width: 50%;
  }
}

@media screen and (max-width: 599px) {
  .header-nav.open {
    width: 100%;
  }
}

.header-nav.open .header-nav-item a {
  display: block;
}

.bg-mask.open {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #000;
  opacity: .6;
  z-index: 1;
  -webkit-transition: .3s;
  transition: .3s;
}

body.hidden {
  overflow: hidden;
}

/*　base------------------------------------------------------------*/
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: #333333;
  font-family: "Montserrat", "Noto Sans JP", sans-serif;
  line-height: 1.5;
}

@media screen and (max-width: 599px) {
  body {
    font-size: 1.4rem;
  }
}

img {
  width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  display: block;
}

.containerH {
  padding: 120px 0;
}

@media screen and (max-width: 1024px) {
  .containerH {
    padding: 80px 0;
  }
}

@media screen and (max-width: 599px) {
  .containerH {
    padding: 40px 0;
  }
}

.containerW {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4vw;
}

.section-title {
  font-size: 3.2rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  margin-bottom: 30px;
}

@media screen and (max-width: 599px) {
  .section-title {
    font-size: 2.8rem;
  }
}

.btn {
  display: block;
  background-color: #021128;
  padding: 10px 40px;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.1em;
  border: none;
  margin-top: 30px;
}

.btn:hover {
  opacity: .6;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

.txt {
  line-height: 2;
}

/*　header------------------------------------------------------------*/
header {
  padding: 27px 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;
}

.header-inner {
  max-width: 1324px;
  margin: 0 auto;
  padding: 0 4vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo {
  width: 266px;
}

@media screen and (max-width: 1024px) {
  .header-logo {
    width: 189px;
  }
}

.burger-btn-wp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 3;
}

.burger-btn-wp .burger-btn {
  margin-right: 7px;
}

.burger-btn-wp .bar {
  display: block;
  width: 22px;
  height: 2px;
  background-color: #fff;
  border-radius: 1px;
  -webkit-transition: .3s;
  transition: .3s;
}

.burger-btn-wp .bar-top,
.burger-btn-wp .bar-mid {
  margin-bottom: 3px;
}

.burger-btn-wp .menu {
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  font-size: 1rem;
  letter-spacing: 0.1em;
}

.burger-btn-wp:hover {
  cursor: pointer;
}

.header-nav {
  width: 0%;
  height: 100vh;
  min-height: 550px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  background-color: #021128;
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0;
}

.header-nav .header-nav-list {
  padding: 180px 0;
  text-align: center;
}

.header-nav-item {
  margin-bottom: 30px;
}

.header-nav-item a {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  display: none;
}

@media screen and (max-width: 599px) {
  .header-nav {
    width: 100%;
  }
}

/*　fv------------------------------------------------------------*/
.fv {
  height: 60vh;
  min-height: 450px;
  position: relative;
}

.fv .fv-inner {
  width: 76%;
  height: 86%;
  background-image: url(../images/aboutpage-fv.jpg);
  background-size: cover;
  background-position: center 0;
  position: relative;
}

@media screen and (max-width: 599px) {
  .fv .fv-inner {
    background-position: bottom right;
  }
}

.fv .fv-txt {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .fv .fv-txt {
    -webkit-transform: translate(40%, -50%);
            transform: translate(40%, -50%);
  }
}

@media screen and (max-width: 599px) {
  .fv .fv-txt {
    -webkit-transform: translate(20%, -50%);
            transform: translate(20%, -50%);
  }
}

.fv .txt-small {
  font-size: 2rem;
}

@media screen and (max-width: 1024px) {
  .fv .txt-small {
    font-size: 1.6rem;
  }
}

.fv .txt-big {
  font-size: 7.2rem;
  font-weight: bold;
  line-height: 1.2;
}

@media screen and (max-width: 1024px) {
  .fv .txt-big {
    font-size: 5.6rem;
  }
}

@media screen and (max-width: 599px) {
  .fv .txt-big {
    font-size: 4rem;
  }
}

.fv::after {
  display: block;
  content: "";
  background-color: #021128;
  width: 50%;
  height: 60vh;
  min-height: 450px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

/*　vision------------------------------------------------------------*/
#vision .containerH {
  padding-bottom: 140px;
}

@media screen and (max-width: 599px) {
  #vision .containerH {
    padding-bottom: 100px;
  }
}

.vision-inner {
  max-width: 415px;
  margin-left: 15vw;
}

@media screen and (max-width: 599px) {
  .vision-inner {
    margin-left: 0;
  }
}

.vision-lead {
  font-size: 2.4rem;
  margin-bottom: 30px;
  font-weight: bold;
}

@media screen and (max-width: 599px) {
  .vision-lead {
    font-size: 2rem;
  }
}

/*　message------------------------------------------------------------*/
.message-inner {
  background-color: #F0F0F0;
  max-width: 770px;
  padding: 120px 185px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: auto;
}

@media screen and (max-width: 1024px) {
  .message-inner {
    max-width: 494px;
    padding: 109px 41px;
  }
}

@media screen and (max-width: 599px) {
  .message-inner {
    margin-top: 130px;
    padding: 126px 28px 60px;
  }
}

#message {
  position: relative;
}

#message .img-wp {
  position: absolute;
  top: 0;
  left: 15vw;
  max-width: 23vw;
}

@media screen and (max-width: 1024px) {
  #message .img-wp {
    left: 4vw;
    max-width: 224px;
  }
}

@media screen and (max-width: 599px) {
  #message .img-wp {
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}

/*　company------------------------------------------------------------*/
#company .section-title {
  line-height: 1;
  padding-bottom: 30px;
  border-bottom: 1px solid #ddd;
}

@media screen and (max-width: 1024px) {
  #company .section-title {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 1024px) {
  #company .containerH {
    padding-bottom: 80px;
  }
}

.company-inner {
  max-width: 800px;
  margin-left: auto;
  margin-bottom: 40px;
}

.company-item {
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.company-item .company-title {
  width: 20%;
  font-weight: bold;
}

@media screen and (max-width: 599px) {
  .company-item .company-title {
    width: 30%;
  }
}

.map-wp {
  width: 100%;
  height: 360px;
}

@media screen and (max-width: 1024px) {
  .map-wp {
    height: 230px;
  }
}

@media screen and (max-width: 599px) {
  .map-wp {
    height: 470px;
  }
}

/*　footer------------------------------------------------------------*/
footer {
  background-color: #021128;
  padding: 19px 0;
  text-align: center;
}

footer small {
  font-size: 1rem;
  color: #fff;
}
/*# sourceMappingURL=about.css.map */