@charset "UTF-8";
.fade-animation {
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

.fade-animation.show {
  opacity: 1;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.burger-btn-wp.cross .bar {
  -webkit-transition: .3s;
  transition: .3s;
}

.burger-btn-wp.cross .bar-top {
  -webkit-transform: translate(10%, 5px) rotate(45deg);
          transform: translate(10%, 5px) rotate(45deg);
}

.burger-btn-wp.cross .bar-mid {
  opacity: 0;
}

.burger-btn-wp.cross .bar-bottom {
  -webkit-transform: translate(10%, -5px) rotate(-45deg);
          transform: translate(10%, -5px) rotate(-45deg);
}

.header-nav.open {
  opacity: 1;
  width: 40%;
  -webkit-transition: .3s;
  transition: .3s;
}

@media screen and (max-width: 1024px) {
  .header-nav.open {
    width: 50%;
  }
}

@media screen and (max-width: 599px) {
  .header-nav.open {
    width: 100%;
  }
}

.header-nav.open .header-nav-item a {
  display: block;
}

.bg-mask.open {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #000;
  opacity: .6;
  z-index: 1;
  -webkit-transition: .3s;
  transition: .3s;
}

body.hidden {
  overflow: hidden;
}

/*　base------------------------------------------------------------*/
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: #333333;
  font-family: "Montserrat", "Noto Sans JP", sans-serif;
  line-height: 1.5;
}

@media screen and (max-width: 599px) {
  body {
    font-size: 1.4rem;
  }
}

img {
  width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  display: block;
}

.containerH {
  padding: 60px 0;
}

.containerH:first-of-type {
  padding-top: 120px;
}

.containerH:last-of-type {
  padding-bottom: 120px;
}

@media screen and (max-width: 1024px) {
  .containerH {
    padding: 80px 0;
  }
}

@media screen and (max-width: 599px) {
  .containerH {
    padding: 40px 0;
  }
  .containerH:first-of-type {
    padding-top: 78px;
  }
  .containerH:last-of-type {
    padding-bottom: 40px;
  }
}

.containerW {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4vw;
}

.section-title {
  font-size: 3.2rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  margin-bottom: 30px;
}

@media screen and (max-width: 599px) {
  .section-title {
    font-size: 2.8rem;
  }
}

.btn {
  display: block;
  background-color: #021128;
  padding: 10px 40px;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.1em;
  border: none;
  margin-top: 30px;
}

.btn:hover {
  opacity: .6;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

a.btn {
  display: inline-block;
}

/*　header------------------------------------------------------------*/
header {
  height: 80px;
  padding: 27px 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;
}

.header-inner {
  max-width: 1324px;
  margin: 0 auto;
  padding: 0 4vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo {
  width: 266px;
}

@media screen and (max-width: 1024px) {
  .header-logo {
    width: 189px;
  }
}

.burger-btn-wp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 3;
}

.burger-btn-wp .burger-btn {
  margin-right: 7px;
}

.burger-btn-wp .bar {
  display: block;
  width: 22px;
  height: 2px;
  background-color: #fff;
  border-radius: 1px;
  -webkit-transition: .3s;
  transition: .3s;
}

.burger-btn-wp .bar-top,
.burger-btn-wp .bar-mid {
  margin-bottom: 3px;
}

.burger-btn-wp .menu {
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  font-size: 1rem;
  letter-spacing: 0.1em;
}

.burger-btn-wp:hover {
  cursor: pointer;
}

.header-nav {
  width: 0%;
  height: 100vh;
  min-height: 550px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  background-color: #021128;
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0;
}

.header-nav .header-nav-list {
  padding: 180px 0;
  text-align: center;
}

.header-nav-item {
  margin-bottom: 30px;
}

.header-nav-item a {
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  display: none;
}

@media screen and (max-width: 599px) {
  .header-nav {
    width: 100%;
  }
}

/*　fv------------------------------------------------------------*/
.fv {
  height: 100vh;
  min-height: 550px;
  position: relative;
}

.fv .fv-inner {
  width: 76%;
  height: 86%;
  background-image: url(../images/fv-img.jpg);
  background-size: cover;
  background-position: center 0;
  position: relative;
}

@media screen and (max-width: 599px) {
  .fv .fv-inner {
    background-position: bottom right;
  }
}

.fv .fv-txt {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .fv .fv-txt {
    -webkit-transform: translate(40%, -50%);
            transform: translate(40%, -50%);
  }
}

@media screen and (max-width: 599px) {
  .fv .fv-txt {
    -webkit-transform: translate(20%, -50%);
            transform: translate(20%, -50%);
  }
}

.fv .txt-small {
  font-size: 2rem;
}

@media screen and (max-width: 1024px) {
  .fv .txt-small {
    font-size: 1.6rem;
  }
}

.fv .txt-big {
  font-size: 7.2rem;
  font-weight: bold;
  line-height: 1.2;
}

@media screen and (max-width: 1024px) {
  .fv .txt-big {
    font-size: 5.6rem;
  }
}

@media screen and (max-width: 599px) {
  .fv .txt-big {
    font-size: 4rem;
  }
}

.fv::after {
  content: "";
  display: block;
  width: 50%;
  height: 100%;
  background-color: #021128;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

/*　about------------------------------------------------------------*/
#about {
  position: relative;
}

#about .containerW {
  background-image: url(../images/about-img.jpg);
  background-size: cover;
  background-position: center;
  padding: 110px 0 110px 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  #about .containerW {
    padding: 60px 10%;
  }
}

@media screen and (max-width: 599px) {
  #about .containerW {
    padding: 50px 4vw;
  }
}

#about::after {
  content: "";
  display: block;
  width: 100%;
  height: 180px;
  background-color: #F0F0F0;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.about-inner {
  background-color: rgba(255, 255, 255, 0.95);
  max-width: 590px;
  padding: 50px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 599px) {
  .about-inner {
    width: 100%;
  }
}

.about-txt {
  line-height: 2;
}

/*　works culture------------------------------------------------------------*/
.section-wpH {
  padding-top: 0;
  padding: 0 0 60px;
  background-color: #F0F0F0;
}

.section-wp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#works,
#culture {
  max-width: 520px;
}

#works .txt,
#culture .txt {
  margin-top: 30px;
}

#works {
  margin-right: 60px;
}

@media screen and (max-width: 1024px) {
  #works {
    margin-right: 0;
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 599px) {
  #works {
    margin-bottom: 40px;
  }
}

/*　topic------------------------------------------------------------*/
@media screen and (max-width: 599px) {
  #topics .containerH {
    padding: 40px 0;
  }
}

.topic-list {
  max-width: 700px;
  margin-left: auto;
}

.topic-list .btn {
  margin-left: auto;
}

@media screen and (max-width: 1024px) {
  .topic-list .btn {
    margin: 0 auto 0 0;
  }
}

.topic-item {
  border-bottom: 1px solid #ddd;
  margin-bottom: 30px;
}

.topic-item time {
  color: #CECECE;
  font-size: 1rem;
  font-weight: bold;
}

.topic-item .topic-txt {
  font-size: 1.4rem;
  color: #333333;
  padding: 12px 0;
  font-weight: bold;
  letter-spacing: 0.1em;
}

@media screen and (max-width: 599px) {
  .topic-item .topic-txt {
    font-size: 1.2rem;
  }
}

/*　contact------------------------------------------------------------*/
#contact .containerH {
  background-color: #F0F0F0;
}

@media screen and (max-width: 1024px) {
  #contact .containerH {
    padding: 40px 0 80px;
  }
}

@media screen and (max-width: 599px) {
  #contact .containerH {
    padding: 40px 0;
  }
}

#contact .containerW {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 1024px) {
  #contact .containerW {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.contact-inner:nth-of-type(1) {
  max-width: 440px;
  margin-right: 80px;
}

@media screen and (max-width: 1024px) {
  .contact-inner:nth-of-type(1) {
    margin-right: 0;
    max-width: 510px;
  }
}

.contact-inner:nth-of-type(2) {
  max-width: 580px;
}

@media screen and (max-width: 1024px) {
  .contact-inner:nth-of-type(2) {
    margin-bottom: 30px;
  }
}

.contact-txt {
  line-height: 2;
}

/*　footer------------------------------------------------------------*/
footer {
  background-color: #021128;
  padding: 19px 0;
  text-align: center;
}

footer small {
  font-size: 1rem;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */