



@charset "utf-8";
// // =====================================================
// //サイトの基本設定
// // =====================================================

// //幅関係の設定--------------------------------------------
$main-width: 1100px;
$sub-width:1324px;

// //フォント--------------------------------------------
$base-font: 'Montserrat','Noto Sans JP',sans-serif;

// //色--------------------------------------------

$base-color: #333333;
$btn-color: #021128;
$bg-color :#F0F0F0;
$time-color:#CECECE;
$white:#fff;

// //ブレイクポイント--------------------------------------------

// ブレークポイント 
$breakpoints: ("sp": "screen and (max-width : 599px)",
  "tab": "screen and (max-width : 1024px)",
);

// メディアクエリー　
@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// //その他--------------------------------------------

$img_path:"../img/";

@mixin display_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin bgs {
    background-size: cover;
    background-position: center;
}

@mixin btn {
    display: block;
    background-color: $btn-color;
    padding: 10px 40px;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: $white;
    letter-spacing: 0.1em;
    border: none;
    &:hover{
      opacity: .6;
      transition: .3s;
      cursor: pointer;
    }
}

